/* StartPage.module.css */

/* Main container to center the content on the page */
.pageCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 3.5rem); 
  width: 100%;
  padding: 1.8rem;
  box-sizing: border-box;
  background-color: var(--background-color);
}

/* The main content card */
.container {
  max-width: 450px; 
  width: 100%;
  background-color: var(--card-background);
  padding: 2.2rem; 
  border-radius: 10px; 
  box-shadow: 0 3px 10px var(--shadow-color); 
  text-align: center;
}

.title {
  font-size: 2.25rem; 
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 0.9rem;
}

.description {
  font-size: 1rem; 
  color: var(--text-secondary);
  margin-bottom: 2.2rem;
}

/* Email form styling */
.emailForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.9rem; 
}

.input {
  padding: 12px 16px; 
  font-size: 0.95rem; 
  border-radius: 7px;
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--text-primary);
}

.button {
  background-color: var(--primary-color);
  color: var(--text-on-primary);
  border: none;
  padding: 12px 25px; 
  font-size: 0.95rem;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* Divider with 'OR' text */
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--text-secondary);
  margin: 1.8rem 0; 
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid var(--border-color);
}

.divider span {
  padding: 0 0.9rem; 
}

/* Social Login Buttons */
.socialButtons {
  display: flex;
  flex-direction: column;
  gap: 0.65rem; 
}

.socialBtn {
  font-family: var(--font-family);
  width: 100%;
  padding: 0.65rem 0.9rem 0.65rem 2.5rem; 
  border: 1px solid var(--border-color);
  border-radius: 7px;
  font-size: 0.95rem;
  font-weight: 600;
  text-align: center;
  color: var(--text-primary);
  background-color: var(--card-background);
  background-repeat: no-repeat;
  background-position: 0.9rem center;
  background-size: 1.1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.socialBtn:hover {
  border-color: var(--primary-color);
}

.googleBtn {
  background-image: url('https://www.svgrepo.com/show/475656/google-color.svg');
}

.githubBtn {
  background-image: url('https://www.svgrepo.com/show/512317/github-142.svg');
  body.dark & {
    background-image: url('https://www.svgrepo.com/show/341847/github.svg');
  }
}

/* Message styling */
.success {
  margin-top: 0.9rem;
  color: var(--success-color);
}

.error {
  margin-top: 0.9rem;
  color: var(--danger-color);
}

html, body {
  overflow-x: hidden;
  height: 100%;
}
